.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


.calculadora {
    height: 140px;
    width: 170px;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 10px;
}

.calculadora-container {
   display: flex;
   justify-content: space-between;
   text-align: center;
}

#display{
    width: 160px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    border-radius: 8px;
    color: white;
}

button {
    margin-bottom: 5px;
    outline: none;
}

#lado-esquerdo{
    width: 90px;
    margin: 0;
   
}

#lado-direito {
    width: 70px;
    margin: 0;
}

#lado-direito .botao {
    width: 25px;
    border-radius: 30px;
    background: #666666;
    padding: 3px;
    border: none;
    color: white;
}

#lado-esquerdo button {
    width: 25px;
    color: white;
    border-radius: 30px;
    background: #666666;
    padding: 3px;
    border: none;
}

#apagar {
    width: 55px;
    border-radius: 30px;
    background: #ffa600;
    padding: 3px;
    border: none;
    color: white;
}

#igual {
    width: 25px;
    border-radius: 30px;
    background: #ffa600;
    padding: 3px;
    border: none;
    color: white;
}

